#main-exp{
        margin: 0;
    /* padding: 0; */
    font-family: Josefin Sans, sans-serif;
    box-sizing: border-box;
    background-image: url('./background.png');

}
#nav4{
    font-family: Josefin Sans, sans-serif;
    background-color: rgba(255, 255, 255, 0.2);
}
#footer-exp{
    padding: 20px;
    
    /* margin-top: 50px; */
}
 
#body-exp{
      height: 100%;
    margin: 0;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center; /* horizontally */
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;

 } 
 #acc{
    width: 75%;
 }
/* #item1{
    background-color: rgba(37, 150, 190, 0.4);
}   
#head1{
    background-color: rgba(37, 150, 190, 0.4);
    color: #fefffe;
    font-weight: bold;
} */
/* .accordion-button {
  background-color: rgba(56, 56, 56, 0.7) !important;
  color: white !important;
  font-size: 18px;
  height: 120px;
  padding: 15px;
}

.accordion-button:not(.collapsed) {
  background-color: rgba(56, 56, 56, 0.7) !important;
  color: white !important;
} */
.link-hover:hover {
  color: #fefffe !important; /* Bootstrap "success" color */
  text-decoration: underline;
}

#pallets-div{
  width: 100%;
  margin-top: 0;
  padding-top: 0;
}
#pallets{
  color: white;
  display: flex;
  gap: 10px;
 background-color:  rgba(255, 255, 255, 0.2);
 height: 150px;
 width: 85%;
 border-radius: 25px;
 transition: 0.5s ease-out;
}
#pallets:hover{
  height: 155px;
  width: 87%;
  cursor: pointer  ;
  transition: 0.5s ease;
}
#year{
  text-align: center;
    writing-mode: vertical-rl; 
    margin: 0;
}
#content{
  width: 75%;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#image-div{
  padding: 0;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#image-div img{
  margin: 0;
}
#company img{
  border-radius: 50%;
}
#company{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 100%;
}
.spec:hover{
  transform: scale(1.5);
  transition: 0.3s ease;
}
.spec{ 
  transition: 0.3s ease-out;
}
#introp{
  font-size: 20px;
}
#lang div{
  background-color:  rgba(255, 255, 255, 0.2);
  border-radius: 20px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#proj{
  gap: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}
#proj div{
  background-color:  rgba(255, 255, 255, 0.2);
  border-radius: 20px ;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (min-width: 768px )and(max-width: 900px) {
  #pallets{
    width: 100%;
    gap: 2px;
    height: auto;
  }
  #pallets:hover{
    height: auto;
    width: 100%;
  }
  #image-div{
    flex-direction: column;
  }
  #lang {
    flex-direction: column;
  }

}

@media (max-width: 767px) {
  #pallets{
    height: auto;
    width: 100%;
  }
  #pallets:hover{
    height: auto;
    width: 100%;
  }
    #image-div{
    flex-direction: column;
  }
 #lang {
    flex-direction: column;
  }
  #proj{
   grid-template-columns: 1fr;
   gap: 16px;
  }
#proj div{
    width: 100%;
    display: flex;
    gap: 20px;
  }
}
@media (max-width: 600px){
            #nav4{
        width: 100% !important;
    }
}