

#main{
        /* margin: 0; */
    /* padding: 0; */
    font-family: Josefin Sans, sans-serif;
    box-sizing: border-box;
    background-image: url('./background.png');
}
#nav2{
    font-family: Josefin Sans, sans-serif;
    background-color: rgba(255, 255, 255, 0.2);
}
#body{
    height: 100%;
    padding: 100px;
}
#body h1{
    font-size: 4rem;
}
#body p{
    font-size: 1.4rem;
    /* margin-top: 20px; */
    line-height: 1.6;
}
.w-50{
    margin-top: 40px;
} 
#footer{
    padding: 20px;
    margin-top: 50px;
}
.link-hover:hover {
  color: #fefffe !important; /* Bootstrap "success" color */
  text-decoration: underline;
}
#typewriter-div h1{
    font-size: 3.5rem;
}
#red{
      font-weight: 700;
  color: white;              /* inside transparent */
  -webkit-text-stroke: 2px red;
}
#blue{
         font-weight: 700;
  color: white;              /* inside transparent */
  -webkit-text-stroke: 2px blue;
}
#green{
          font-weight: 700;
  color: white;              /* inside transparent */
  -webkit-text-stroke: 2px green;
}
#yellow{
         font-weight: 700;
  color: white;              /* inside transparent */
  -webkit-text-stroke: 2px rgb(193, 193, 13);
}
